<web-app>

<servlet>
<servlet-name>CryptoServlet</servlet-name>
<servlet-class>de.hswt.swa.web.CryptoServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>CryptoServlet</servlet-name>
<url-pattern>/crypto</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>RestEncodeServlet</servlet-name>
<servlet-class>de.hswt.swa.web.RestEncodeServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>RestEncodeServlet</servlet-name>
<url-pattern>/encode</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>RestDecodeServlet</servlet-name>
<servlet-class>de.hswt.swa.web.RestDecodeServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>RestDecodeServlet</servlet-name>
<url-pattern>/decode</url-pattern>
</servlet-mapping>


</web-app>